/* - Global and Main - */
.background {
   -fx-background-color: linear-gradient(from 50% 70% to 50% 100%, #ffffff, #B8F6C0);
}
.large-button {
	-fx-background-color: #274029;
	-fx-text-fill: white;
	-fx-background-radius: 10px;
}

.large-button:hover, .help-button:hover{
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}

.help-button {
	-fx-background-color: #274029;
	-fx-text-fill: white;
	-fx-background-radius: 50%;
}
/* ------------------- */
/* --- Help Screen --- */
.help-focus-rect{
	-fx-background-color: #e4e4e4;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 20, 0, 0, 0);
}

.help-nav-arrow{
		-fx-background-color: none;
		-fx-border-radius: 0;
		-fx-border-width: 0;
}
.help-nav-arrow:hover{
		-fx-background-color: #dbdbdb;
}
.radio:hover {
    -fx-border-color: lightgrey; 
}
.radio {
    -fx-border-color: #274029; 
    -fx-background-color: white;
    -fx-border-width:2px;
    -fx-border-radius: 50%; 
}

.radio-button:selected .radio .dot {
    -fx-background-color: #274029;
    -fx-background-insets: 0;
}
/* ------------------- */

/* ----- Topics  ----- */
.topic-button {
	-fx-background-color: #a6e0ae;
	-fx-background-radius: 10px;
}
.topic-button:hover{
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
	-fx-text-fill: white;
}
.topic-button:focused{
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
	-fx-text-fill: white;
	-fx-background-color: #91b2eb;
}
.empty-msg {
	-fx-text-fill: red; 
	-fx-font-family: OpenDyslexicAlta;
}
.start-btn{
	-fx-text-fill: white;
	-fx-background-radius: 10px;
	-fx-background-color: #91b2eb;
}
.start-btn:hover{
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
}
/* ------------------- */

/* - Quiz / Practice - */
.macron-button {
	-fx-background-color: #96d9a8;
}
.macron-button:hover{
	-fx-scale-x: 1.2;
	-fx-scale-y: 1.2;
}
.info-btn {
	-fx-background-color: grey;
	-fx-opacity: 0.8;
	-fx-text-fill: white; 
}

.info-btn:hover {
	-fx-scale-x: 1.2;
	-fx-scale-y: 1.2;
}

.info {
	-fx-background-color: black;
	-fx-background-radius: 3px;
	-fx-opacity: 0.8;
}
.progress-bar .bar { 
	-fx-background-color: #274029;
}
/* ------------------- */

/* ---- Copleted ----*/

.save-btn{
	-fx-background-color: white;
	-fx-text-fill: #274029;
	-fx-background-radius: 10px;
}
.save-btn:hover{
	-fx-background-color: #91b2eb;
}

.save-rect{
	-fx-background-radius: 10px;
	-fx-background-color: #274029;
}

/* ------------------- */

/* ----- Tables -----*/
.table-view,
.table-view .column-header {
    -fx-background-color: #274029;
    -fx-background-radius:10px;
}

.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
	-fx-font-family: Raleway;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
	-fx-text-fill: white;
	
}

.table-view .table-cell{
	-fx-font-family: Raleway;
	-fx-font-weight: lighter;
	-fx-text-fill: white;
    -fx-border-color: transparent;
	-fx-font-size: 18px;
}

.table-row-cell:hover {
    -fx-text-fill:yellow;
    -fx-background-color: #46734a11;
}

.table-row-cell:odd{
    -fx-background-color: #46734a11;
}

.table-row-cell:even{
    -fx-background-color: #65a86b11;
}

.table-row-cell:selected {
    -fx-background-color: #80e08c;
} 

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, white, #80e08c);
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, white, #80e08c);
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
/* ------------------- */